<h3 class="ui header">{{t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.фИО-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field" data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-пол="true">
    <label>{{t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.пол-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-uchet-medosmotrov4-пол-сотрудника")
      value=model.пол
      class=(if (v-get validationModel "пол" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пол" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.датаРождения-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаРождения
      class=(if (v-get validationModel "датаРождения" "isInvalid") "error")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-датаРождения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаРождения" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.серияПаспорта
      class=(if (v-get validationModel "серияПаспорта" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.серияПаспорта-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-серияПаспорта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "серияПаспорта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерПаспорта
      class=(if (v-get validationModel "номерПаспорта" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.номерПаспорта-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-номерПаспорта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерПаспорта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.телефон-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDСотрудника
      class=(if (v-get validationModel "iDСотрудника" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.iDСотрудника-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-iDСотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDСотрудника" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.должности-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должности
      displayAttributeName="наименование"
      autocomplete=true
      relationName="должности"
      projection="ДолжностиL"
      title=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.должности-caption")
      readonly=readonly
      componentName="должностиLookup"
      class=(if (v-get validationModel "должности" "isInvalid") "error")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-должности=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должности" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.должности.наименование
      class=(if (v-get validationModel.должности "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.должности.наименование-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-должности-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.должности "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.должности.подразделения.наименование
      class=(if (v-get validationModel.должности.подразделения "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-medosmotrov4-сотрудники-e.должности.подразделения.наименование-caption")
      data-test-i-i-s-uchet-medosmotrov4-сотрудники-e-должности-подразделения-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.должности.подразделения "наименование" "message")}}
  </div>
</form>
